.App {
  text-align: center;
  height: 100%;
}

.Headerz {
  height: 100px;
  text-align: center;
  margin-bottom: 20px;
  
}

.Container {
  display: grid;
  grid-template-columns: [col1] 40px [col2] 50px [col3] auto [col4] 50px [col5] 40px [end];
  gap: 60px;
  grid-column: 3;
}

.TileContainer {
  grid-column: 3;
  overflow: scroll;
  height: 800px;
  
}

.Tile {
  gap:30px;
  grid-column: col3;
  background-color: rgb(246, 246, 246);
  width: 75%;
  border-radius: 18px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.Tile:hover {
  grid-column: col3;
  background-color: rgb(246, 246, 246);
  width: 75%;
  border-radius: 18px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transform: scale(1.2)
}

.ParaSmall {
  font-size: 12px;
}

.Foot  {
  background-color: rgb(116, 116, 116);
  position : absolute;
  bottom : 0;
  height : 70px;
  margin-top : 40px;
  width:100%;
  text-align: center;
  color: aliceblue;
}